body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #849d8f;
  font-family: 'Roboto',
    'Tomoha',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

a:active,
a:hover,
.container__blog a:hover {
  color: #ffbc9e;
}

.drop-menu,
.hits-list,
.link-list,
.site-navigation,
.social-list,
.user-navigation,
.gallery-slider {
  list-style: none;
}

.button {
  color: #ffffff;
  background-image: linear-gradient(to top,
    #e74a35 0%,
    #f26843 100%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 63px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
}

.button:hover {
  background-image: linear-gradient(to top,
    #e74a35 0%,
    #f26843 100%);
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  color: #fceeec;
  background-image: linear-gradient(to top,
    #f26843 0%,
    #e74a35 100%);
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  box-shadow: inset 0 2px 2px #942718;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="text"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-feedback {
  background-color: #f8f7f4;
}

/**Убрать **/
.modal{
  display: none;
}

/* *****************Header********************************************** */
.main-header__logo,
.main-header__contact-phone,
.feedback__adress-contact {
  border: none;
}

.site-navigation>li {
  display: inline-block;
}

.site-navigation .drop-menu {
  display: none;
  position: absolute;
  padding-left: 0px;
  background-color: #f8f7f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}

.drop-menu__link {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.site-navigation>li:hover .drop-menu {
  display: block;
}

.site-navigation a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.drop-menu__root:active {
  background-color: #ededed;
  background-color: #f8f7f4;
  box-shadow: inset 0 2px 1px #696969;
}

.drop-menu a:hover {
  background-color: #fbded7;
}

.drop-menu a:active {
  background-color: #f6b5a5;
}

.modal-login {
  display: none;
}

.user-navigation__search-form {
  display: none;
}

.main-header__contact p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.main-header__contact-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/* ***************************Slider************************************* */
.gallery-slider-radio {
  display: inline-block;
}

.gallery-slider-button {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
}

.gallery-slider-button:hover {
  width: 19px;
  height: 19px;
  background-color: #f8f7f4;
  opacity: 0.4;
}

.gallery-slider-button:active {
  width: 21px;
  height: 21px;
  background-color: #ffffff;
}

/* ******************************Banners************************************ */
.container__banners__banner h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.container__banners__banner p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.rawsberry {
  background-image: url("../img/raspberries_background.png");
  background-color: #8c0106;
}

.chocolate {
  background-image: url("../img/chocolate_background.png");
  background-color: #5c361d;
}

/* ***************************Hits*************************************** */
/* ***************************Features********************************** */
.container__features {
  color: #323232;
  background-image: url("../img/wafle_background.jpg");
  background-color: #f0e5cd;
}

.features-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* *************************Blog***************************************** */
.container__blog {
  background-image: url("../img/strawberry_background.jpg");
  background-color: #ffffff;
}

.container__blog h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.container__blog a {
  color: #323232;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

/* *************************Subscription********************************* */
.container__subscription {
  padding: 6px;
  background-image: url("../img/postal_background.png");
  background-color: #ffffff;
  background-repeat: round;
}

.subscription-form {
  background-color: #f8f7f4;
}

.subscription-form label {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/******************************Location&Feedback******************************/
.location__feedback {
  background-color: #fdfefe;
  color: #323232;
}

.location__feedback__adress {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.feedback__adress-contact {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.modal-feedback h2 {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

/* *****************************Footer************************************* */


/*********************************FLEX-BOX*************************************/
*{
  background: rgba(255,0,0,.3);
}

.container{
  width: 1147px;
  margin: 0 auto;
  padding: 0;
}

.main-header .container{
  padding-top: 9px;
  display: flex;
}

.main-header__logo{
  margin-right: 24px;
}

.site-navigation{
  margin-right: 374px;
}

.user-navigation-wrapper{
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.main-header__contact-phone{
  display: block;
}
/****banners****/
.container__banners{
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.container__banners__banner{
  width: 560px;
  height: 229px;
}

/**********hits*****/
.hits-list{
  margin: 0;
  padding: 0;
  display: flex;

}

.list__ice-cream{
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

/***features***/
.features-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/**blog and subs ***/
.container__blog__subscription-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.container__blog,
.container__subscription {
  width: 560px;
  height: 220px;
}

/***map**/

/**footer**/
.main-footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
