body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #849d8f;
  font-family: 'Roboto',
    'Tomoha',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2); /* Safari */
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

a:active,
a:hover,
.container__blog a:hover {
  color: #ffbc9e;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slider/slider_1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-site-wrapper {
  min-width: 1147px;

}

.drop-menu,
.hits-list,
.link-list,
.site-navigation,
.social-list,
.user-navigation,
.gallery-slider-list,
.content__list {
  list-style: none;
}

.button {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  border:0;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 50px;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px 0 #ac1000;
          box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
    -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="text"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**Убрать **/
.modal {
  display: none;
}

.container {
  width: 1147px;
  margin: 0 auto;
}

.container-inner{
  width: 1147px;
  margin: 0 auto;
  margin-top: -150px;
}

/* *****************Header********************************************** */
.main-header__logo,
.main-header__contact-phone,
.feedback__adress-contact {
  border: none;
}

.main-header {
  width: 1147px;
  margin: 0 auto;
  padding-top: 8px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 23px;
  width: 540px;
  max-height: 40px;
  font-weight: 700;
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.site-navigation a {
  padding: 6px 14px;
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
}

.site-navigation>li {
  position: relative;
}

.site-navigation>li>a:hover,
.site-navigation>li>a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 20px;
}

.site-navigation>li>a:active {
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.drop-menu__root {
  text-decoration: none;
  background-color: #d07058;
  border-radius: 20px;
}

.site-navigation>li:hover .drop-menu {
  display: block;
}

.drop-menu__root{
  position: relative;
}

.drop-menu {
  position: absolute;
  top: 29px;
  left: -6px;
  z-index: 22;
  display: none;
  width: 143px;
  padding: 5px 0px;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.drop-menu a {
  display: block;
  padding: 7px 20px 8px 20px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.drop-menu__link {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.drop-menu .new {
  padding: 7px 20px 9px 20px;
  margin-bottom: 6px;
}

.drop-menu a:hover,
.drop-menu a:focus {
  background-color: #fbded7;
}

.drop-menu a:active {
  background-color: #f6b5a5;
}

.new:after {
  content: " ";
  position: absolute;
  top: 39px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
}

.user-navigation {
  position: relative;
  margin: 0;
  padding-top: 17px;
  margin-bottom: 20px;
  min-width: 246px;
  font-family: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-navigation__button {
  max-height: 31px;
  max-width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.search {
  min-width: 11px;
  min-height: 11px;
  padding: 10px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.user-navigation>li:hover .user-navigation__login-form,
.user-navigation>li:hover .user-navigation__search-form {
  display: block;
}

.search::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/svg/loupe.svg");
}

.search:hover::after {
  background-image: url("../img/svg/loupe-hover.svg");
}

.user-navigation__button:hover,
.user-navigation__button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation__search-form {
  position: absolute;
  right: 217px;
  top:50px;
  z-index: 22;
  display: none;
  width: 341px;
  min-height: 84px;
  background: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

}

.user-navigation__search-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 311px;
  min-height: 44px;
  margin: 20px 15px;
  padding: 13px 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-navigation__search-form input:hover {
  padding: 12px 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-navigation__search-form input:focus {
  padding: 12px 13px;

  outline: 0;
  border: 2px solid rgba(46, 136, 228, 0.52)
}


.login {
  position: relative;
  height: 11px;
  padding: 10px 17px 9px 20px;
  cursor: pointer;
}

.login::before {
  content: "";
  position: relative;
  width: 21px;
  height: 19px;
  right: 7px;
  background-image: url("../img/svg/entrance-hover.svg");
}

.login:hover::before {
  background-image: url("../img/svg/entrance.svg");
}

.login-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entry{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-navigation__login-form {
  position: absolute;
  right: 110px;
  top:50px;
  z-index: 22;
  padding: 20px 15px;
  display: none;
  width: 341px;
  min-height: 84px;
  background: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-navigation__login-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 311px;
  min-height: 44px;
  margin: 20px 15px;
  padding: 13px 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-navigation__login-form input:hover {
  padding: 12px 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-navigation__login-form input:focus {
  padding: 12px 13px;

  outline: 0;
  border: 2px solid rgba(46, 136, 228, 0.52)
}

.login-password-info a{
  display: block;
  color: rgb(50,50,50);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(50,50,50,.3);
          text-decoration-color: rgba(50,50,50,.3)
}

.login-btn{
  padding: 0;
  padding: 15px 25px 14px;
}


.cart,
.cart-full {
  height: 11px;
  padding: 10px 17px 9px 20px;
  cursor: pointer;
}

.cart-full::before{
  content: "";
  position: relative;
  width: 21px;
  height: 20px;
  right: 8px;
  background-image: url("../img/svg/basket-red.svg");
}

.cart::before {
  content: "";
  position: relative;
  width: 21px;
  height: 20px;
  right: 8px;
  background-image: url("../img/svg/basket.svg");
}

.cart:hover::before {
  cursor: pointer;
  background-image: url("../img/svg/basket-hover.svg");
}

.modal-login {
  display: none;
}

.user-navigation__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2px;
}

.main-header__contact {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contact {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.main-header__contact-phone {
  text-decoration: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

}

/* ***************************Slider************************************* */
.container__gallery-slider {
  position: relative;
  padding-top: 136px;
  margin-bottom: 43px;
  text-align: center;
  color: #ffffff;
}

.gallery-slider-list {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button1 {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button1:hover {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  -webkit-box-shadow: 0 2px 2px #ac1000;
          box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button1:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #fceeec;
}

.gallery-slider-controls {
  position: absolute;
  bottom:20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.gallery-slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider/slider_1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider/slider_2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider/slider_3.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider/slider_2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider/slider_3.png");
}

/* ******************************Banners************************************ */
.container__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__banners__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 520px;
  height: 229px;
  margin-bottom: 40px;
  padding: 0 20px;
  border-radius: 15px;
}

.banner-title {
  margin: 16px 0;
  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.rawsberry {
  background-color: #8c0106;
  background-image: url("../img/raspberries_background.png");
}

.chocolate {
  background-color: #5c361d;
  background-image: url("../img/chocolate_background.png");
}

.sale-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 11px 22px;
  margin-top: 26px;
  margin-right: 1px;

}

/* ***************************Hits*************************************** */
.hits-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hits-list li{
  position: relative;
}

.list__ice-cream {
  width: 267px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  position: relative;
}

.site-wrapper .list__ice-cream::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 22;
  width: 61px;
  height: 61px;
  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
}

.ice-cream__cost {
  position: absolute;
  top: 162px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.ruble,
.wt {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.ruble {
  /* Text style for "₽" */
  margin-left: -5px;
  font-size: 45px;
}

.list__ice-cream figcaption {
  margin: 0;
  margin-top: 7px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.popup{
  border: 0;
  display: none;
  width: 200px;
  margin: 0 auto;
  margin: -71px 34px 11px;
}

.list-item:hover::before{
  content: " ";

  position: absolute;
  top: -7px;
  right: -13px;
  bottom: -20px;
  left: -13px;
  z-index: 3;
  display: block;

  background-color: rgba(248,247,244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.list-item:hover .popup {
  position: absolute;
  bottom: -70px;
  z-index: 4;

  display: block;
}


/* ***************************Features********************************** */
.container__features {
  color: #323232;
  background-image: url("../img/wafle_background.jpg");
  background-color: #f0e5cd;
  margin-bottom: 40px;
  padding: 24px 19px 17px 21px;
  max-height: 306px;
  border-radius: 15px;
}

.features-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.features-list p {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 7px;
}

.features-list>li {
  margin-bottom: 7px;
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 487px;
}

.features-list li:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features-list li:nth-child(4) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.features-title {
  margin: 0;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.technology::before {
  content: "";
  position: absolute;
  margin-left: -50px;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/ice-cream.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
}

.cow::before {
  content: "";
  position: absolute;
  margin-left: -50px;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/cow.svg");
}

.bio::before {
  content: "";
  position: absolute;
  margin-left: -50px;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/eco.svg");
}

.delievery::before {
  content: "";
  position: absolute;
  margin-left: -50px;
  display: block;
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/thermometer.svg");
}

.features-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* *************************Blog***************************************** */
.container__blog {
  width: 540px;
  max-height: 217px;
  padding-top: 8px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url("../img/strawsberry_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.container__blog h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.container__blog a {
  color: #323232;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog-title {
  margin-bottom: 5px;
  font: inherit;
  font-weight: 500;
  color: #323232;
}

.blog-link {
  display: block;
  max-width: 286px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

/* *************************Subscription********************************* */
.container__blog__subscription-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.container__subscription {
  width: 560px;
  min-height: 222px;
  background: url("../img/postal_background.png") no-repeat;
}

.subscription-form {
  margin: 4px 5px 5px 6px;
  height: 210px;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscription-form .wrapper{
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.subscription-form p {
  margin: 0;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}


.subscription-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 368px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  margin-right: 11px;
  padding-left: 12px;
}

.subscription-form input[type="email"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription-form input[type="email"]:focus {
  outline: 0;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.sub-btn {
  border: 0;
  padding: 10px 19px 13px 19px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-height: 44px;
}



/******************************features****************************************/


/******************************Location&Feedback******************************/
.container__location_feedback {
  position: relative;
  left: -30px;
  margin-bottom: 20px;
}

.container__location-wrapper {
  position: relative;
  width: 1200px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
}

.container__location-wrapper iframe {
  width: 1200px;
  height: 430px;
  z-index: 1;
}

.location__feedback {
  position: absolute;
  top: 70px;
  right: 25px;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  width: 221px;
  min-height: 250px;
  padding: 27px 57px 27px 25px;

  background-color: #ffffff;
  border-radius: 15px;
  color: #323232;

}

.location__feedback__adress {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.location__feedback__adress a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.location-link{
  margin-bottom: 23px;
}

.address{
  margin: 0;
  max-width: 178px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.address-phone{
  margin-bottom: 0;
  max-width: 178px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.phone-contact{
  display: block;
}

.btn-feedback{
  border:0;
  margin-top: 26px;
  padding: 13px 28px 13px;
  width: 256px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}



/* *****************************Footer************************************* */
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__social {
  min-width: 185px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social-button {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.social-button:hover {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.twitter {
  display: block;
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.7;
}

.instagram {
  display: block;
  background-image: url("../img/svg/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.7;
}

.facebook {
  display: block;
  background-image: url("../img/svg/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.7;
}

.vk {
  display: block;
  background-image: url("../img/svg/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.7;
}

.twitter:active,
.vk:active,
.facebook:active,
.instagram:active {
  opacity: .7;
}

.link-list {
  margin: 0;
  padding: 0 auto;
  width: 337px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-list a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.link-list>li {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link-list li:nth-child(1) {
  position: relative;
}

.link-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 5px;
  right: 33px;
  width: 15px;
  height: 13px;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
}

.link-list li:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.link-list li:nth-child(4) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main-footer__copyright img {
  display: block;
  margin-bottom: 12px;
}

.main-footer__copyright {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}

/********************************Catalog**************************************/


/**************************catalog ice cream*************/
.containter__path {
  margin:0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.container__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.container__filters{
  max-width: 860px;
  min-height: 131px;
}

.filters {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter{
  font-family: inherit;
}

.filter__sorting{
  position: relative;
}

.filters-wrapper label{
  margin-bottom: 6px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}








.content__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.list__ice-cream {
  max-width: 267px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 36px;
}



.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__pagination {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30px;
}

.container__content::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
  margin-bottom: 18px;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  70% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  90% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-500px) translateX(-50%);
    transform: translateY(-500px) translateX(-50%);
  }

  50% {
    -webkit-transform: translateY(30px) translateX(-50%);
    transform: translateY(30px) translateX(-50%);
  }

  70% {
    -webkit-transform: translateY(50px) translateX(-50%);
    transform: translateY(50px) translateX(-50%);
  }

  90% {
    -webkit-transform: translateY(-20px) translateX(-50%);
    transform: translateY(-20px) translateX(-50%);
  }

  100% {
    -webkit-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-feedback{
  position: fixed;
   top: 50%;
   left: 50%;
   z-index: 25;

   transform: translate(-50%, -50%);
   width: 453px;
   padding-top: 15px;
   padding-bottom: 71px;
   padding-left: 24px;

   background-color: #f8f7f4;
   border-radius: 10px;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback input {
  width: 237px;
  margin-bottom: 20px;
  padding: 12px 14px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-feedback input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal-feedback input:focus {
  outline: 0;
  border: 2px solid rgba(46, 136, 228, 0.52)
}

.modal-feedback textarea {
  width: 398px;
  padding: 8px 14px 16px 14px;
  resize: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal-feedback textarea:focus {
  outline: 0;
  border: 2px solid rgba(46, 136, 228, 0.52)
}

.modal-feedback-button {
  position: absolute;
  right: 25px;
  bottom: 27px;
  z-index: 26;
  padding: 14px 24px 13px;
}

.modal-close{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;

  width: 18px;
  height: 16px;

  background-image: url("../img/svg/cross-big.svg");
}

.btn{
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
