body {
  margin           : 0;
  padding          : 0;
  color            : #ffffff;
  background-color : #849d8f;
  font-family      : 'Roboto',
                     'Tomoha',
                     sans-serif;
  font-size        : 16px;
  font-weight      : 400;
  line-height      : 22px;
}

a {
  color           : #ffffff;
  border-bottom   : 1px solid rgba(255, 255, 255, .3);
  text-decoration : none;
}

a:active,
a:hover {
  color : #ffbc9e;
}

.button {
  color            : #ffffff;
  background-image : linear-gradient(
                       to top,
                       #e74a35 0%,
                       #f26843 100%
                     );
  background-color : #ffffff;
  box-shadow       : 0 2px 2px rgba(172, 16, 0, 0.64);
  text-align       : center;
  text-shadow      : 0 2px 5px rgba(160, 32, 11, 0.76);
  font             : inherit;
  font-size        : 18px;
  font-weight      : 700;
  line-height      : 44px;
}

.button:hover {
  background-image : linear-gradient(
                       to top,
                       #e74a35 0%,
                       #f26843 100%
                     );
  background-color : rgba(255, 255, 255, 0.2);
  background-color : #ffffff;
  box-shadow       : 0 2px 2px #ac1000;
}

.button:active {
  color            : #fceeec;
  background-image : linear-gradient(
                       to top,
                       #f26843 0%,
                       #e74a35 100%
                     );
  background-color : rgba(0, 0, 0, 0.07);
  background-color : #ffffff;
  box-shadow       : inset 0 2px 2px #942718;
}

/* ******************Header********************************************** */

.main-header__logo {
  text-decoration : none;
}

.drop-menu,
.hits-list,
.link-list,
.site-navigation,
.social-list,
.user-navigation {
  list-style : none;
}

.site-navigation > li {
  display : inline-block;
}

.site-navigation .drop-menu {
  display          : none;
  position         : absolute;
  padding-left     : 0px;
  color            : #323232;
  background-color : #f8f7f4;
  font-size        : 14px;
  font-weight      : 400;
  line-height      : 16px;
  list-style       : none;
}

.site-navigation > li:hover .drop-menu {
  display : block;
}

.site-navigation a:hover {
  color            : #323232;
  background-color : #f7f6f3;
}

.drop-menu__root:active {
  background-color : #ededed;
  background-color : #f8f7f4;
  box-shadow       : inset 0 2px 1px #696969;
}

.drop-menu a:hover {
  background-color : #fbded7;
}

.drop-menu a:active {
  background-color : #f6b5a5;
}

.modal-login {
  display : none;
}

.user-navigation__search-form {
  display : none;
}

.main-header__contact p {
  font-size   : 14px;
  font-weight : 700;
  line-height : 16px;
}

.main-header__contact-phone {
  text-decoration : none;
  font-size       : 22px;
  font-weight     : 700;
  line-height     : 24px;
}

/* ****************************Slider************************************* */

/* *******************************Banners************************************ */

.container__banners__banner h2 {
  color       : #ffffff;
  font-size   : 35px;
  font-weight : 700;
  line-height : 41px;
}

.container__banners__banner p {
  color       : #ffffff;
  font-size   : 18px;
  font-weight : 700;
  line-height : 22px;
}

.rawsberry{
  background-color: #8c0106;
  background-image: url("../img/raspberries_background.jpg");
}

.chocolate {
  background-color: #5c361d;
  background-image: url("../img/chocolate_background.jpg");
}

/* ****************************Hits*************************************** */

/* ****************************Features********************************** */

.container__features {
  color            : #323232;
  background-image : url("../img/wafle_background.jpg");
  background-color : #f0e5cd;
}

.features-title {
  font-size   : 24px;
  font-weight : 500;
  line-height : 30px;
}

.features-list {
  font-size   : 16px;
  font-weight : 400;
  line-height : 22px;
}

/* **************************Blog***************************************** */

.container__blog {
  background-image : url("../img/strawberry_background.jpg");
  background-color : #ffffff;
}

.container__blog h3 {
  color       : #323232;
  font-size   : 16px;
  font-weight : 500;
  line-height : 22px;
}

.container__blog a {
  color           : #323232;
  text-decoration : underline;
  font-size       : 24px;
  font-weight     : 700;
  line-height     : 30px;
}

/* **************************Subscription********************************* */

.container__subscription {
  padding           : 6px;
  background-image  : url("../img/postal_background.png");
  background-color  : #ffffff;
  background-repeat : round;
}

.subscription-form {
  background-color : #f8f7f4;
}

.subscription-form label {
  color       : #5a5a5a;
  font-size   : 16px;
  font-weight : 400;
  line-height : 22px;
}

/* ******************************Footer************************************* */
